argon2-cffi==20.1.0
asgiref @ file:///tmp/build/80754af9/asgiref_1594338739818/work
bcrypt==3.1.7
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
Django==3.1.6
django-bootstrap4==2.2.0
django-crispy-forms==1.9.2
Faker==4.1.1
gunicorn==20.0.4
Pillow==7.2.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
text-unidecode==1.3
wincertstore==0.2
